In [1]:
ls

Untitled.ipynb   car_data.db      ldn.geo.json     utility.js
app.js*          csv_2_sqlite.sh  readme.md        utility.py
car_data.csv     index.html*      style.css*

In [32]:
import pandas as pd
df=pd.read_csv('car_data.csv')

In [33]:
df.head(3)

  'car_name'    'lon'   'lat'  'val1'  'val2'
0      car_a  51.5074  0.1278       4      10
1      car_b  51.5074  0.1478       5       1
2      mycar  51.5174  0.1578       3      10

In [51]:
# python 3 


import csv
import sqlite3

def csv_2_array(file):
	with open(file, 'r') as f:
		reader = csv.reader(f)
		your_list = list(reader)

	print(your_list)
	return your_list


def sqlite_2_array(db_name):
	output=[]
	conn = sqlite3.connect(db_name)
	c = conn.cursor()
	sql_get_car_date = """SELECT * FROM car_data"""
	print (sql_get_car_date)
	for row in c.execute(sql_get_car_date):
		print (row)
		output.append(row)
	print ('------------')
	print (output)
	return output

def sqlite_2_array_(db_name):
    conn = sqlite3.connect('car_data.db')
    #conn.row_factory = lambda cursor, row: [row[0],row[1]]
    conn.row_factory = lambda cursor, row: [row[x] for x in range(5)]
    c = conn.cursor()
    sql_get_car_date = """SELECT * FROM car_data"""
    print (sql_get_car_date)
    # tranform python sqlite3 output from  tuple to array 
    # https://stackoverflow.com/questions/2854011/get-a-list-of-field-values-from-pythons-sqlite3-not-tuples-representing-rows
    output = list(c.execute(sql_get_car_date).fetchall())
    return output

In [52]:
output= sqlite_2_array_('car_data.db')

SELECT * FROM car_data

In [53]:
output

[['car_a', '51.5074', '0.1278', '4', '10'],
 ['car_b', '51.5074', '0.1478', '5', '1'],
 ['mycar', '51.5174', '0.1578', '3', '10'],
 ['botvan', '51.5174', '0.1238', '2', '5'],
 ['gvan', '51.5174', '0.1238', '2', '4'],
 ['lavan', '51.1174', '0.138', '2', '7'],
 ['uvan', '51.3174', '0.168', '2', '9'],
 ['zvan', '51.6174', '0.188', '2', '11']]

In [23]:
[x for x in range(3)]

[0, 1, 2]

In [49]:
conn = sqlite3.connect('car_data.db')
#conn.row_factory = lambda cursor, row: [row[0],row[1]]
conn.row_factory = lambda cursor, row: [row[x] for x in range(5)]
c = conn.cursor()
sql_get_car_date = """SELECT * FROM car_data"""
print (sql_get_car_date)
# tranform python sqlite3 output from  tuple to array 
# https://stackoverflow.com/questions/2854011/get-a-list-of-field-values-from-pythons-sqlite3-not-tuples-representing-rows
output = list(c.execute(sql_get_car_date).fetchall())

SELECT * FROM car_data

In [50]:
output

[['car_a', '51.5074', '0.1278', '4', '10'],
 ['car_b', '51.5074', '0.1478', '5', '1'],
 ['mycar', '51.5174', '0.1578', '3', '10'],
 ['botvan', '51.5174', '0.1238', '2', '5'],
 ['gvan', '51.5174', '0.1238', '2', '4'],
 ['lavan', '51.1174', '0.138', '2', '7'],
 ['uvan', '51.3174', '0.168', '2', '9'],
 ['zvan', '51.6174', '0.188', '2', '11']]

In [9]:
type(output)

list

In [14]:
type(output[0][0])

tuple